
<div id="menShirt">
    <a href="images/menshirt1.jpg">

        <figure>
            <img class="pic" src="images/menshirt1.jpg" alt="" ">
            <figcaption>
                <p>A&H mens Shirt</p>
                <p>Grey sizeL</p>
                <p>$39.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menshirt2.jpg">

        <figure>
            <img class="pic" src="images/menshirt2.jpg" alt="">
            <figcaption>
                <p>A&H mens Shirt</p>
                <p>Dark Grey sizeXXL</p>
                <p>$29.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menshirt3.jpg">

        <figure>
            <img class="pic" src="images/menshirt3.jpg" alt="">
            <figcaption>
                <p>A&H mens Shirt</p>
                <p>Pink sizeL</p>
                <p>$29.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menshirt4.jpg">

        <figure>
            <img class="pic" src="images/menshirt4.jpg" alt="">
            <figcaption>
                <p>A&H mens Shirt</p>
                <p>White sizeL</p>
                <p>$19.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menshirt5.jpg">

        <figure>
            <img class="pic" src="images/menshirt5.jpg" alt="">
            <figcaption>
                <p>A&H mens Shirt </p>
                <p>Red&Blue sizeXL</p>
                <p>$40.00</p>

            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menshirt6.jpg">

        <figure>
            <img class="pic" src="images/menshirt6.jpg" alt="">
            <figcaption>
                <p>A&H mens Shirt</p>
                <p>Black sizeL</p>
                <p>$19.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>


</div>
