





<div id=menJeans>
    <a href="images/menjean1.jpg">

        <figure>
            <img class="pic" src="images/menjean1.jpg" alt="" ">
            <figcaption>
                <p>A&H mens Jean</p>
                <p>Jean Blue sizeL</p>
                <p>$89.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menjean2.jpg">

        <figure>
            <img class="pic" src="images/menjean2.jpg" alt="">
            <figcaption>
                <p>A&H mens Jean</p>
                <p>Jean Dark Blue sizeXXL</p>
                <p>$69.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menjean3.jpg">

        <figure>
            <img class="pic" src="images/menjean3.jpg" alt="">
            <figcaption>
                <p>A&H mens Jean</p>
                <p>Jean Green sizeL</p>
                <p>$59.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjean4.jpg">

        <figure>
            <img class="pic" src="images/menjean4.jpg" alt="">
            <figcaption>
                <p>A&H mens Jean</p>
                <p>Withe sizeL</p>
                <p>$39.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjean5.jpg">

        <figure>
            <img class="pic" src="images/menjean5.jpg" alt="">
            <figcaption>
                <p>A&H mens Jean</p>
                <p>Jean  blue sizeXL</p>
                <p>$39.99</p>

            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjean6.jpg">

        <figure>
            <img class="pic" src="images/menjean6.jpg" alt="">
            <figcaption>
                <p>A&H mens Jean </p>
                <p>Jean Blue sizeL</p>
                <p>$40.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>


</div>





