





<div id=menJacets>
    <a href="images/menjacet1.jpg">

        <figure>
            <img class="pic" src="images/menjacet1.jpg" alt="" ">
            <figcaption>
                <p>A&H mens Jacet</p>
                <p>Grey sizeL</p>
                <p>$39.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menjacet2.jpg">

        <figure>
            <img class="pic" src="images/menjacet2.jpg" alt="">
            <figcaption>
                <p>A&H mens jacet</p>
                <p>Red & Blue sizeXXL</p>
                <p>$69.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>

    <a href="images/menjacet3.jpg">

        <figure>
            <img class="pic" src="images/menjacet3.jpg" alt="">
            <figcaption>
                <p>A&H mens jacet</p>
                <p>Grey sizeL</p>
                <p>$39.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjacet4.jpg">

        <figure>
            <img class="pic" src="images/menjacet4.jpg" alt="">
            <figcaption>
                <p>A&H mens jacet</p>
                <p>Blue sizeL</p>
                <p>$39.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjacet5.jpg">

        <figure>
            <img class="pic" src="images/menjacet5.jpg" alt="">
            <figcaption>
                <p>A&H mens jacet</p>
                <p>Dark blue sizeXL</p>
                <p>$39.99</p>

            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>
    <a href="images/menjacet6.jpg">

        <figure>
            <img class="pic" src="images/menjacet6.jpg" alt="">
            <figcaption>
                <p>A&H mens jacet </p>
                <p>Red sizeL</p>
                <p>$40.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
        <p>
            <input type="button" value="Shop Now" />
        </p>
    </div>


</div>





