
	body {
    margin: 10px;
    padding: 10px;
	background-color:#eee;
	
	 
}
	
	.container {
	
	  margin-left: auto;
    margin-right: auto;
    width: 80%;
   background-color:#fff;
   padding:60px;
   padding-left:80px;
		height:100%;
	}
	

.topnav {
	width:80%;
  overflow: hidden;
  background-color: #75a9f9;

}

.logo {
		width:50px; height:50px;
	}




.topnav  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
	font-size: 17px;
	 float: left;
	 width:auto;
}
#sbar{ text-align: center;
    padding: 10px 18px; 
	margin: 5px;
	float:right;
	}

.topnav  a:hover {
    background-color: #111;
}


.topnav .icon {
  display: none; 
}





@media screen and (max-width: 1200px) {

  header.responsive {position: relative;}
  header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }



	
.topnav a:not(:first-child) {display: none; float: right;}
/*.topnav a:last-child {display: block;} */
div.topnav a.icon { 
	float: right; 
	display: block; 
	}
}


@media only screen and ( max-width: 1200px ) and ( min-width: 800px ) {
	
a.mobile  {display:none !important;}
a.desktop {display:none !important;}
a.tablet  {display:inline !important;}
}

@media only screen and ( max-width: 800px) {
	a.mobile  {display:inline !important;}
a.tablet {display:none !important;}
a.desktop {display:none !important;}
}


@media screen and (max-width: 1200px) {
  div.topnav.responsive {position: relative;}
  div.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  div.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  div.topnav.responsive #sbar {float:left }
  
} 




    
a.tablet, a.mobile { display:none;}



footer {
	width:80%;
	position:relative;
	height:200px;
	background-color:#75a9f9;

	padding-left:40px;
	padding-right:40px;
	
}

.mobile{ display:none}

footer ul{ list-style-type: none; 
	 margin: 0;
    padding: 0;
    width: 90px;
	float:left;
	 }
footer div {
    
    
    width: 30%;
	float:left;
   /* background-color: #f1f1f1; */
}

#fdiv1 {
	float:left;
}
#fdiv2 {
	float:left;
} 


footer li a, footer li h4 {
    display: block;
    color: #000;
   
	width:100% ;
	
    text-decoration: none;
	font-size: 12px;
}

/* Change the link color on hover */
footer li a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: #blue;
    color: white;
}














































































































































/*add by Arad*/


}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 100%;
    height: 630px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

    #slideshow > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

.pic {
    width: 300px;
    height: 300px;
}
div {
    font-size: 0;
}

a {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
}

    a:nth-of-type(2n) {
        margin-right: 0;
    }

@media screen and (min-width: 50em) {
    a {
        width: calc(25% - 6px);
    }

        a:nth-of-type(2n) {
            margin-right: 8px;
        }

        a:nth-of-type(4n) {
            margin-right: 0;
        }
}

figcaption {
    font-size: 14px;
    color: black;
}

#pageView {
    height: 900px;
    float: right;
    width: 80%
}

#pagMenu {
    height: 920px;
    width: 20%;
    float: left;
}

#pgg {
    margin: auto;
}

.vertical-menu {
    width: 400px;
}

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #000;
            color: white;
        }
/*end of add by Arad*/ 
