
    
    
    

     
            <div id=womenJeans>
            <a href="images/womenjean1.jpg">

                <figure>
                    <img class="pic" src="images/womenjean1.jpg" alt="" ">
                    <figcaption>
                    <p>A&H Womens Jean</p>
                    <p>Jean Blue sizeL</p>
                    <p>$89.99</p>
                    </figcaption>
                </figure>
            </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                
                    <a href="images/womenjean2.jpg">

                        <figure>
                            <img  class="pic" src="images/womenjean2.jpg" alt="">
                            <figcaption>
                            <p>A&H Womens Jean</p>
                            <p>Jean Duble Blue sizeXXL</p>
                            <p>$69.99</p>
                            </figcaption>
                        </figure>
                    </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                   
                        <a href="images/womenjean3.jpg">

                            <figure>
                                <img class="pic" src="images/womenjean3.jpg" alt="">
                                <figcaption>
                                <p>A&H Womens Jean</p>
                    <p>Jean Dark Blue sizeL</p>
                    <p>$59.99</p>
                                </figcaption>
                            </figure>
                        </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenjean4.jpg">

                    <figure>
                        <img class="pic" src="images/womenjean4.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Jean</p>
                    <p>Jean White sizeL</p>
                    <p>$39.99</p>
                        </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenjean5.jpg">

                    <figure>
                        <img class="pic" src="images/womenjean5.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Jean</p>
                    <p>Jean ligth blue sizeXL</p>
                    <p>$39.99</p>
                        
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenjean6.jpg">

                    <figure>
                        <img class="pic" src="images/womenjean6.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Jean </p>
                    <p>Jean Grey sizeL</p>
                    <p>$40.99</p>
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                

                    </div>
                  
                    



