
            <div id="womenDress">
    <a href="images/womendres1.jpg">

        <figure>
            <img class="pic" src="images/womendres1.jpg" alt="" ">
            <figcaption>
                <p>A&H Womens Sleeveless</p>
                <p>Dress Comet Black sizeL</p>
                <p>$89.99</p>
            </figcaption>
        </figure>
    </a>
    <div class="shopNow">
    <p>
        <input type="button" value="Shop Now" />
    </p>
</div>
                
                    <a href="images/womendres2.jpg">

                        <figure>
                            <img  class="pic" src="images/womendres2.jpg" alt="">
                            <figcaption>
                            <p>A&H Womens Sleeveless</p>
                            <p>Dress Comet Flower sizeXXL</p>
                            <p>$49.99</p>
                            </figcaption>
                        </figure>
                    </a>
<div class="shopNow">
<p>
    <input type="button" value="Shop Now" />
</p>
</div>
                   
                        <a href="images/womendres3.jpg">

                            <figure>
                                <img class="pic" src="images/womendres3.jpg" alt="">
                                <figcaption>
                                <p>A&H Womens Drumpy</p>
                    <p>Dress Comet Blue sizeL</p>
                    <p>$59.99</p>
                                </figcaption>
                            </figure>
                        </a>
<div class="shopNow">
<p>
    <input type="button" value="Shop Now" />
</p>
</div>
                <a href="images/womendres4.jpg">

                    <figure>
                        <img class="pic" src="images/womendres4.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Sleeveless Satin</p>
                    <p>Dress Comet Dark Blue sizeL</p>
                    <p>$90.99</p>
                        </figcaption>
                    </figure>
                </a>
<div class="shopNow">
<p>
    <input type="button" value="Shop Now" />
</p>
</div>
                <a href="images/womendres5.jpg">

                    <figure>
                        <img class="pic" src="images/womendres5.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens </p>
                    <p>Dress Comet Black sizeXL</p>
                    <p>$100.00</p>
                        
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>

                <a href="images/womendres6.jpg">

                    <figure>
                        <img class="pic" src="images/womendres6.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Sleeveless</p>
                    <p>Dress Comet Pink sizeL</p>
                    <p>$89.99</p>
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                

                    </div>
                 