
    
    

      
            <div id=womenTops>
            <a href="images/womenshirt1.jpg">

                <figure>
                    <img class="pic" src="images/womenshirt1.jpg" alt="" ">
                    <figcaption>
                    <p>A&H Womens Tops</p>
                    <p>Tops Ligth Green sizeL</p>
                    <p>$19.99</p>
                    </figcaption>
                </figure>
            </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                    <a href="images/womenshirt2.jpg">

                        <figure>
                            <img  class="pic" src="images/womenshirt2.jpg" alt="">
                            <figcaption>
                            <p>A&H Womens Tops</p>
                            <p>Tops White&Blue sizeXXL</p>
                            <p>$28.99</p>
                            </figcaption>
                        </figure>
                    </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                   
                        <a href="images/womenshirt3.jpg">

                            <figure>
                                <img class="pic" src="images/womenshirt3.jpg" alt="">
                                <figcaption>
                                <p>A&H Womens Tops </p>
                    <p>Tops Flower sizeL</p>
                    <p>$29.99</p>
                                </figcaption>
                            </figure>
                        </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenshirt4.jpg">

                    <figure>
                        <img class="pic" src="images/womenshirt4.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Tops</p>
                    <p>Tops Blue sizeL</p>
                    <p>$40.99</p>
                        </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenshirt5.jpg">

                    <figure>
                        <img class="pic" src="images/womenshirt5.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Tops</p>
                    <p>Tops Pink sizeXL</p>
                    <p>$69.99</p>
                        
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                <a href="images/womenshirt6.jpg">

                    <figure>
                        <img class="pic" src="images/womenshirt6.jpg" alt="">
                        <figcaption>
                        <p>A&H Womens Tops</p>
                    <p>Tops Black$white</p>
                    <p>$79.99</p>
                    </figcaption>
                    </figure>
                </a>
                <div class="shopNow">
                    <p>
                        <input type="button" value="Shop Now" />
                    </p>
                </div>
                

                    </div>
                  
                    



